
        body{
            font-family: Montserrat;
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2yb8a4FgEQcmdgZkcnCt9wpRXJ2TdVdMMTQ&usqp=CAU");
            background-repeat: no-repeat;
            background-size: cover;
        }
        p{
         color: yellow;
        }
        h1{
            color:white;
        }
  
